@import "tailwindcss";
@font-face {
  font-family: 'Aventena';
  src: url('/fonts/aventena.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Clases utilitarias */
.font-aventena {
  font-family: 'Aventena', sans-serif;
}
.font-quicksand {
  font-family: "Quicksand", sans-serif;
}
